body{
  font: .9vw/1.5 "Trebuchet MS", Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: white;
}

/* Global */
.container{
  width:90%;
  margin:0 auto 0;
  overflow:hidden;
}
.containerr{
    margin:800px;
}


/* Navigation var*/
.navbar {
    min-height: 6em;
    overflow: hidden;
    background-color: #312E2A;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
}

ul{
  margin:0;
  padding-right: 0px;
  list-style: none;
}

/* Header **/
header{
  background:#4AADE4;
  color:#ffffff;
  min-height:2em;
  z-index: 1000;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:1.3em;
}

header .logo{
    width: 7vw;
    height: 4.4em;
    float: left;
}

header li{
  text-align: center;
  display:inline-block;
}
.chicos{
  width: 5em;
  padding-left: 2em;
  padding-right: 1em;
}
.grande{
  width: 14em;
}

header #branding {
  float:left;
}

header #branding h1{
  margin: 2vw;
}

header nav{
  float:right;
  margin-top:1.6em;
}

header .highlight, header .current a{
  color:#4AADE4;
  font-weight:bold;
}

header a:hover{
  color:#e4007c;
  font-weight:bold;
}

/* Showcase */

#showcase{
  background: linear-gradient(rgba(0, 0, 0, 0.45),
     rgba(18, 18, 19, 0.45)),
      url("../Imagenes/pexels-photo-450271.jpeg") no-repeat 100% 50%;
  image-rendering: pixelated;
  text-align:center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 10vh;
  color:#ffffff;
}

#showcase h1{
  overflow: hidden;
  white-space:inherit;
  margin-top:4em;
  font-size:5vw;
  margin-bottom: 0em;
  color: #ffffff;
}

#showcase p{
font-size:1.3vw;
color: white;
z-index: 2;
}

/*Contador*/

.counting #contador{
    width: 22%;
    text-align: center;
    padding-left: 1.5em;
    display: inline-block;
}

.counting #contador h2{
    font-size: 2.9vw;
    color: #e7007c;
}

.counting #contador p{
    margin-top: 0px;
    margin-left: 1.6rem;
    font-size: 1.3em;
    color: #000000;
}

.counting #contador .age p{
    margin-bottom: 0px;
}

.counting #contador .empresas p{
    margin-bottom: 0px;
}

.counting #contador .personas p{
    margin-bottom: 0px;
}

.counting{
    width: 100%;
    height: 100%;
    background-size: 250vh;
}

.counting h1{
    margin-left: 2vw;
    margin-bottom: 0vw;
    margin-top: 1vw;
    font-size: 3em;
    color: #000000;
    text-align: center;
}

/*Circle*/
.counting  #contador .circle{
  margin: 2vw;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  width: 70%;
  height: 5.2em;
  border-radius: 50%;
  font-size: 3em;
  color: #000000;
  line-height: 10vw;
  text-align: center;
  border: 6px solid #848484;
}

/* Servicios*/
#servicios{
    padding-left: 110px;
}
.Tarjetas{
    display: flex;
    justify-content: space-around;
    padding: 5%;
}
.tarjeta1 img{
    height: 20em;
    width: 20em;
    padding-top: 2.6em;
    padding-bottom: 2.11em;
}
.tarjeta1 h1{
    color: rgb(255, 92, 166);
    padding-left: .8em;
}
.tarjeta1 p{
    color: rgb(127, 127, 127);
    font-size: 1.32em;
    padding-left: .9em;
}
.tarjeta1 a{
    text-decoration:none;
}
.tarjeta2 img{
    height: 20em;
    width: 20em;
    padding-top: 2.6em;
    padding-bottom: 2.11em;
}
.tarjeta2 h1{
    color: rgb(255, 92, 166);
    padding-left: .8em;
}
.tarjeta2 p{
    color: rgb(127, 127, 127);
    font-size: 1.32em;
    padding-left: .9em;
}
.tarjeta2 a{
    text-decoration:none;
}
  .buttonTarjetas{
    background-color: #e4007c;
    border: none;
    color: #ffffff;
    padding: 1.2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 1.0vw 6em;
    cursor: pointer;
    transition: all 0.5s;
}
.button{
    background-color: #e4007c;
    border: none;
    color: #ffffff;
    padding: 1.2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 1.0vw 7em;
    cursor: pointer;
    transition: all 0.5s;
}

.servicios2{
    background-size: 100%;
    text-align: center; 
}

.servicios2 h1{
  overflow: hidden;
  font-size:4em;
  margin-top: auto;
  padding-top: 3vw;
  margin-bottom: 0px;
  color: #808080;
}

.servicios3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.45),
     rgba(18, 18, 19, 0.45)), url('../Imagenes/food-business-lunch-restaurant-lunch-163018.jpeg');
    background-size: 100%;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 20em;
    color:#ffffff;
}

.servicios3 h1{
    overflow: hidden;
    white-space: inherit;
    font-size: 5em;
    padding-top: 1.4em;
    margin-top: 0em;
    color: white;
}

.servicios4{
    background-image:linear-gradient(rgba(0, 0, 0, 0.45),
     rgba(18, 18, 19, 0.45)), url('../Imagenes/Servicio1_crop.png');
    background-size: 100%;
    text-align: center;
    background-attachment: local;
    background-size: cover;
    min-height: 20em;
    color:#ffffff;
}

.servicios4 h1{
    overflow: hidden;
    white-space: inherit;
    font-size: 4.5em;
    color: rgb(0, 0, 0);
    background: white;
    font-family:Helvetica;
    margin: 0;
    text-align: left;
    width: 6.8em;
    padding: 0 1.1em 0;
}
.servicios4 h2{
    color:rgb(127, 127, 127);
    padding: 1.6em;
    text-align: left;
    background: #f0f0f0;
    width: 24em;
}
.servicios4 h3{
    height: 17em;
    opacity: 0;
}
.servicios6{
    padding: 3em;
    padding-bottom: 9em;
}
.servicios7{
    background-image:linear-gradient(rgba(0, 0, 0, 0.45),
     rgba(18, 18, 19, 0.45)), url('../Imagenes/Servicio2_crop.png');
    background-size: 100%;
    text-align: center;
    background-attachment: local;
    background-size: cover;
    min-height: 20em;
    color:#ffffff;
}
.servicios7 h3{
    height: 17em;
    opacity: 0;
}
.servicios7 h1{ 
    overflow: hidden;
    white-space: inherit;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    background: white;
    font-family:Helvetica;
    margin: 0;
    text-align: left;
    width: 11.8em;
}
.servicios7 h2{
    color:rgb(127, 127, 127);
    padding: 1.6em;
    text-align: left;
    background: #f0f0f0;
    width: 24em;
}
.servicios7 li{
    text-align: left;
    font-size: 2em;
    color: rgb(127, 127, 127);
}
.servicios7 ul{
    padding-top: 5em;
    padding-left: 70em;
    padding-bottom: 19em;
}
.servicios8{
    background-image: linear-gradient(rgba(0, 0, 0, 0.45),
     rgba(18, 18, 19, 0.45)), url('../Imagenes/Nutriologo en linea.jpeg');
    background-size: 100%;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 20em;
    color:#ffffff;
}
.serviciosContacto{
    text-align: right;
    color: rgb(127, 127, 127);
    font-size: 1.5em;
    padding-right: 2.5em;
    padding-bottom: 2em;
}

.button {
    background-color:rgb(255, 100, 169);
    border: none;
    color: #ffffff;
    padding: 1.2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 1.0vw 0em;
    cursor: pointer;
    transition: all 0.5s;
}
.nuestroImpacto{
  background-image: url('../Imagenes/1-EjyS8N84s5tlU2_ZJH6tNw.jpeg');
  text-align:center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 60em;
  color:#ffffff;
}

.nuestroImpacto h1 {
    overflow: hidden;
    white-space: inherit;
    font-size: 4em;
    padding-top: 6.5em;
    margin-top: 0em;
    color: white;
}

.tabla{
    width: 26em;
    display: inline-block;
    margin: 0 3.3em;
    margin-bottom: 2em;
}

.tabla p{
    font-size: 1.4em;
    text-align: center;
}

.tabla h1{
    color: #e4007c;
    text-align: center;
}

.SemanaSalud{
    margin: 0 auto;
    width: 40%;
    background: white;
}

.tabla2{
    width: 80%;
    display: inline-block;
    margin: 0 7em;
    margin-bottom: 2em;
}

.tabla2 p{
    font-size: 1.4em;
    text-align: center;
}

.tabla2 h1{
    color: #e4007c;
    text-align: center;
}

.tituloSemana h1{
    text-align: center;
    color: #e4007c;
    font-size: 4em;
}

.nutriologo360Container{
    width: 100%;
    height: 700px;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45),
    rgba(18, 18, 19, 0.45)), url('../Imagenes/nutri360.png');
    background-size: cover;
}
.nutriologo360Container > div{
    width: 49%;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.nutriologo360Container > div > .container{
    margin: 0;
    width: 100%;
    background: white;
}

.nutriologo360Container > div > .container > h2{
    margin: 0 auto;
    width: 75%;
}
.contenedorr{
    position: absolute;
    top:5000px;
}
.contenedorr1{
    position: absolute;
    top:  85em;
    left: 55em;
}
.contenedorr2{
    position: absolute;
    top:  95em;
    left: 5em;
}
.tituloNutricion h1{
    text-align: center;
    color:  rgb(255, 100, 169);
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
}

.tituloNutricion h2{
    text-align: center;
    color:  rgb(255, 100, 169);
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
}

.nutricionImagen{
    margin: 0;  
    width: 40%;
    display: table-cell;
    position: absolute;
}

.nutricionImagen > div{
    margin: 0 auto;
    width:150%;

}

.nutricionImagen > div > img{
    width: 60%;
}

.contenidoNutricion{
    padding-left: 3em;
    margin: 10px 0;
    width: 60%;
    display: table-cell;
    font-size: 165%;
    color: rgb(127, 127, 127);
}

.contenidoNutricion p{
    text-align: left;
    font-size: 1.5em;
    margin-top: .4em;
}
.contenidoNutricion li{
    font-size: 1.1em;
}


.servicios5{
    background-image:linear-gradient(rgba(0, 0, 0, 0.45),
     rgba(18, 18, 19, 0.45)), url('../Imagenes/Nutricion%20Enlinea.jpeg');
    background-size: 100%;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 20em;
    color:#ffffff;
}

.servicios5 h1 {
    overflow: hidden;
    white-space: inherit;
    font-size: 5em;
    padding-top: 1.4em;
    margin-top: 0em;
    color: white;
}

.recuadro-contacto{
    color: white;
}

.contactanos{
    text-align: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.45),
     rgba(18, 18, 19, 0.45)), url('../Imagenes/pexels-photo-373076.jpeg');
    width: 100%;
    height: 16em;
    background-size: cover;
}

.contactanos h1{
    padding-top: 1.8em;
    margin-top: 0em;
    color: white;
    font-size: 4em;
}

.whats p{
    text-align: center;
}

.whats img{
    image-rendering: crips-edges;
    width: 1.3em;
    height: 1.3em;
    padding-right: 5px;
}

.recuadro{
    padding: 0px 50px;
    padding-bottom: 50px;
}

.recuadro h3{
    background-color: darkgray;
    color: blue;
}

.recuadro{
    display: inline-block;
    width: 300px;
    text-align: center;
    padding-left: 100px;
    
}

.recuadro1{
    padding-top: 0px;
    padding-bottom: 15px;
    width: 300px;
    margin: 25px;
    background-color: darkgrey;
    text-align: center;
    box-shadow: 0 0 20px #e4007c;
}

.recuadro1 h3{
    margin-top: 0px;
    border-bottom: solid #e4007c;
}


.area{
    margin-top: 11em;
}

.area p{
    text-align: center;
}

#logos .logo-sites{
    width: 100%;
    height: 24vh;
}

#logos .logo-sites .logo-boxes{
    width: 14%;
    display: inline-block;
    margin: 0em;
}

#logos .logo-sites .logo-boxes img#banregio{
    width: 70%;
    margin: 0;
    padding: 5em 1.625em 5em 1.625em;
}

#logos .logo-sites .logo-boxes img#moen{
    width: 40%;
    margin: 0;
    padding: 3.4375em 3.125em 3.125em 3.75em;
}

#logos .logo-sites .logo-boxes img#frisa{
    width: 40%;
    margin: 0;
    padding: 2.5em 3.125em 2.5em 3.125em;
}

#logos .logo-sites .logo-boxes img#tigres{
    width: 40%;
    margin: 0;
    padding: 1.875em 3.125em 1.875em 3.125em;
}

#logos .logo-sites .logo-boxes img#convex{
    width: 70%;
    margin: 0;
    padding: 3.9125em 1.625em 4.8em 1.2em;
}

#logos .logo-sites .logo-boxes img#stabilit{
    width: 90%;
    margin: 0;
    padding: 3.125em 0.3125em 3.4375em 0.3125em;
}

#logos .logo-sites .logo-boxes img#terraNetwork{
    width: 70%;
    margin: 0;
    padding: 2.5em 1.625em 2.8125em 1.625em;
}

.counter-sector{
    background-image: url('../Imagenes/pexels-photo-140945.jpeg');
    background-size: 100%;
    text-align: center;
    background-size: cover;
    min-height: 400px; 
    color:#ffffff;
    image-rendering: pixelated;
}

.contenedor{
    height: 16vw;
    width: 18%;
    margin: 2em;
    margin-left: 7.45em;
    margin-right: 7.45em;
    margin-top: 0px;
    -webkit-perspective: 700; 
    box-shadow: 0px 0px 5px #000000;
    display: inline-block;
}

.carta{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
    z-index: 123;
}

.carta:hover{
    transform: rotateY(180deg);
}

.lado{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.frente{
    background-image:linear-gradient(rgba(0, 0, 0, 0.45),
     rgba(18, 18, 19, 0.45)), url('../Imagenes/Nutricio3603d.jpg');
    background-size: 200%;
}

.frente h3{
    text-align: center;
    color: white;
    padding-top: 3.975em;
    font-size: 1.5625em;
}

.atras p{
    text-align: center;
    margin: 0.9375em;
    color: #ffffff;
    font-size: 1.5em;
    padding-top: .8em;
}

.atras{
    background: #e4007c;
    transform: rotateY(180deg);
}

.contenedor2{
    height: 250px;
    width: 250px;
    margin: 25px;
    margin-left: 550px;
    margin-right: 100px;
    margin-top: 0px;
    -webkit-perspective: 700;
    box-shadow: 0px 0px 5px black;
}

.carta2{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
    z-index: 123;
}


.frente2 h3{
    text-align: center;
    color: white;
    padding-top: 30px;
    font-size: 25px;
}

.atras2 h3{
    text-align: center;
    margin-top: 90px;
    margin-left: 50px;
    width: 150px;
}
.atras2{
    background: #f0f0f0;
    transform: rotateY(180deg);
}

.contenedor3{
    height: 16vw;
    width: 18%;
    margin: 2em;
    margin-left: 3.325em;
    margin-right: 3.325em;
    margin-top: 0px;
    -webkit-perspective: 700; 
    box-shadow: 0px 0px 5px black;
    display: inline-block;
}

.carta3{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
    z-index: 123;
}

.carta3:hover{
    transform: rotateY(180deg);
}

.lado3{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.frente3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.45),
     rgba(18, 18, 19, 0.45)), url('../Imagenes/pexels-photo-374016.jpeg');
    background-size: 150%;
}

.frente3 h3{
    text-align: center;
    color: white;
    padding-top: 3.975em;
    font-size: 1.5625em;
}

.atras3 p{
    text-align: center;
    padding-top: 1.3em;
    margin: 0.9375em;
    font-size: 1.5em;
    color: #ffffff;
}

.atras3{
    background-color: #e4007c;
    background-size: 101%;
    transform: rotateY(180deg);
}

.nutriologo-linea h3{
    text-align: center;
    font-size: 3.125em;
    color: #e4007c;
    margin: .8em 0 0 0;
}

.nutriologo-linea p{
    margin: 0 0 1.5625em 0;
    text-align: center;
    font-size: 2em;
}


/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:1.4em;
  color:#ffffff;
  background-color:#312E2A;
  text-align: center;
}

footer ul{
    display: flex;
    text-align: center;
    top: 10px;
    left: 20px;
    padding: 2px;
    width: 20%;
    margin: 0 auto;
}

footer ul li{
    list-style:none;
    margin: 0 auto;
    margin-left: 1.5em;
    margin-right: 0;
    font-size: 2em;
}

footer ul li a i{
    width: 1em;
    text-align: center;
    margin: 0 .3em;
    border-radius: 50%;
}

.description{
    margin: 25px;
    text-align: center;
}

#logos{
    background-color: #C8C7C5;
    background-size: cover;
    height: 13.4em;
    width: 100%;
}
/*Actualizacion*/
.SemanaSalud{
    background-image: linear-gradient(rgba(0, 0, 0, 0.45),
    rgba(18, 18, 19, 0.45)), url('../Imagenes/nutri360.png');
    background-size: cover;
    color:#ffffff;
    height: 100%;
    width: 100%;
    padding:10%;
}
.SSinfo{
    background:black;
}

