<!DOCTYPE html>
<!-- 
Pagina web desarrollada por Salvador Alexandro Ramirez Martinez (RMZ WEBDEV).
Para la compañía salud 360-->
<html>
  <head>
    <meta charset="utf-8">
    <title>SALUD 360</title>
    <link rel="icon" type="image/png" href="../Imagenes/SALUD%20360%20logo.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css"><meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.2.1.js" ></script>
    <script type="text/javascript" src="../js/waypoints.min.js"></script>
    <script type="text/javascript" src="Counter-Up-master/jquery.counterup.min.js"></script>
    
  </head>
  <body>

    <header>
      <div class="navbar">
          <div class="container">
            <div class="logo"> <a href="../index.html"><img src="../Imagenes/salud360.png" width="100%" height="140%"></a>
              </div>
        <nav>
            <ul>
                <li class="chicos"><a href="../index.html">Inicio</a></li>
                <li class="grande"><a href="Servicios.html">Nutriologo 360</a></li>
                <li class="grande"><a href="SemanaSalud.html">Semana De La Salud</a></li>
                <li class="chicos"><a href="contacto.html">Contacto</a></li>
                <li class="chicos"><a href="ingresar.salud360.mx">Ingresar</a></li>
            </ul>
        </nav>
      </div>
    </div>
    </header>
    <div class="servicios7">
        <div class="container">
        <!--<h3>.</h3>-->
        <h1 class="Titulo360">Semana De Salud</h1>
        <ul>
            <li type="disc">6 sesiones de nutrición totalmente personalizadas.</li>
            <li type="disc">Plan alimentación de acuerdo a tus gustos y fácil de preparar.</li>
            <li type="disc">Videos de motivación durante el programa.</li>
            <li type="disc">Recetario.</li>
        </ul>
        </div>
    </div>
    <div class="serviciosContacto">
        <p>Responsable del programa:<br>
        LN Karina Liliana García Serna, egresada de la Facultad de Salud Pública y Nutrición UANL.<br>
        Tel: 25290958 Celular: 8125689915<br>
        <br>
        Programa para un grupo mínimo de 10 personas.<br>
        </p>
        <a href="contacto.html"><button class="button"><span>Agendar Cita</span></button></a>
    </div>
    <footer>
            <ul>
          <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>  
          <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
      </ul>
        <p>Copyright &copy; SALUD360 2018  Eduardo Aguirre Pequeño, S/N Mitras centro, Monterrey Nuevo León. <br>Correo: holasalud360@gmail.com Teléfono: 25290958 &copy; 2018</p>
      </footer>
  
  
        <!-- Codigio para hacer que la pagina se vea mas fluida y menos cuadrada -->
        <!--Realizado por Salvador Alexandro Ramirez Martinez (Developer), con ayuda de Natalia López Almaguer (Designer).
                  Con contribucion de: David Salazar y Ricardo Romero-->
        <script type="text/javascript" src="../js/typed.js"></script>
        <script type="text/javascript" src="../js/waypoints.min.js"></script>
        <script type=""></script>
        <script src="../js/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
        <script src="../js/smooth.js"></script>
        <script type="text/javascript" src="../js/waypoints.min.js"></script>
      <script type="text/javascript" src="Counter-Up-master/jquery.counterup.min.js"></script>
    </body>
    </html>
