<!DOCTYPE html>
<!-- 
Pagina web desarrollada por Salvador Alexandro Ramirez Martinez (RMZ WEBDEV).
Para la compañía salud 360-->
<html>
  <head>
    <meta charset="utf-8">
    <title>SALUD 360</title>
    <link rel="icon" type="image/png" href="../Imagenes/SALUD%20360%20logo.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css"><meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.2.1.js" ></script>
    <script type="text/javascript" src="../js/waypoints.min.js"></script>
    <script type="text/javascript" src="Counter-Up-master/jquery.counterup.min.js"></script>
    
  </head>
  <body>

    <header>
      <div class="navbar">
          <div class="container">
            <div class="logo"> <a href="../index.html"><img src="../Imagenes/salud360.png" width="100%" height="140%"></a>
              </div>
        <nav>
          <ul>
              <li class="chicos"><a href="../index.html">Inicio</a></li>
              <li class="grande"><a href="Servicios.html">Nutriólogo 360</a></li>
              <li class="grande"><a href="SemanaSalud.html">Semana De La Salud</a></li>
              <li class="chicos"><a href="contacto.html">Contacto</a></li>
              <li class="chicos"><a href="ingresar.html">Ingresar</a></li>
              <ul class="submenu">
                  <li ><a href="nutriologo.html">Nutriólogo</a></li>
                  <li ><a href="paciente.html">Paciente</a></li>
              </ul>
          </ul>
        </nav>
      </div>
    </div>
    </header>

      <div class="servicios4" id="servicio4id">
            <div class="container">
                <h3>.</h3>
                <h1 class="Titulo360">NUTRIÓLOGO<br>360.</h1>
                <h2 class="Texto360">Consiste en llevar a un nutriólogo en las <br>
                   instalaciones de tu empresa,haciendo así la salud<br>
                   mas accesible a través de programas preventivos <br>
                   en temas principalmente de obesidad, diabetes e <br>
                   hipertensión.</h2>
            </div>
      </div>
      <div class="servicios6" style="display:table;">
        <div class="tituloNutricion">
              <h1>NUTRIÓLOGO 360<br></h1>
              <h2>¡Sin traslados! Nutrióloga en tu empresa</h2>
        </div>
        <div class="nutricionImagen">
            <img src="../Imagenes/SALUD-360-LOGO-TRANSPARENCIA-05.png" width="80%">
        </div>
        <div class="contenidoNutricion">
          <p >Programa de 12 semanas incluye:</p>  
          <ul>
              <li type="disc">1 Plática de introducción.</li>
              <li type="disc">1 Manual descriptivo del programa.</li>
              <li type="disc">Evaluación y dagnóstico de cada colaborador.</li>
              <li type="disc">Reporte ejecutivo de diagnóstico y resultados.</li>
              <li type="disc">6 sesiones de consulta personalizadas.</li>
              <li type="disc">Plan de alimentación.</li>
              <li type="disc">Acceso a nuestra plataforma de nutrición.</li>
              <li type="disc">3 Talleres de nutrición en temas de:</li>
              <ul>
                <li type="disc">1) ¿Cómo entender nuestro metabolismo?</li>
                <li type="disc">2) ¿Cómo leer etiquetas nutrimentales?</li>
                <li type="disc">2) ¿Cómo afectan las emociones nuestra alimentación?</li>
              </ul>
            </ul>
        </div>
      </div>
          <div class="serviciosContacto">
              <p>Responsable del programa:<br>
                LN Karina Liliana García Serna, egresada de la Facultad de Salud Pública y Nutrición UANL.<br>
                 Celular: 812 568 9915<br>
                <br>
                Programa dirigido a un grupo de colaboradores a partir de 10 personas.<br>
                </p>
                <a href="contacto.html"><button class="button"><span>Agendar Cita</span></button></a>
          </div>
    <footer>
          <ul>
        <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>  
        <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    </ul>
      <p>Copyright &copy; SALUD360 2019  Eduardo Aguirre Pequeño, S/N Mitras centro, Monterrey Nuevo León. <br>Correo: hola@salud360.mx Teléfono:81 2568 9915  &copy; 2019</p>
    </footer>


      <!-- Codigio para hacer que la pagina se vea mas fluida y menos cuadrada -->
      <!--Realizado por Salvador Alexandro Ramirez Martinez (Developer), con ayuda de Natalia López Almaguer (Designer).
                Con contribucion de: David Salazar y Ricardo Romero-->
      <script type="text/javascript" src="../js/typed.js"></script>
      <script type="text/javascript" src="../js/waypoints.min.js"></script>
      <script type=""></script>
      <script src="../js/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
      <script src="../js/smooth.js"></script>
      <script type="text/javascript" src="../js/waypoints.min.js"></script>
    <script type="text/javascript" src="Counter-Up-master/jquery.counterup.min.js"></script>
  </body>
  </html>
